body {
  font-family: Helvetica, sans-serif;
  color: #333;
}

.file-list {
  list-style: none;
}

.file-list-item {
  display: flex;
  border-top: 1px solid #ccc;
  padding: 10px;
  flex-wrap: wrap;
}

.file-list-item-name {
  display: flex;
  flex: 1 1 0;
}

.file-list-item-name-icon {
  width: 20px;
}

.fa-folder {
  color: #508FCA;
}

.file-list-item-message {
  display: flex;
  flex: 3 0 0;
}
